body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
}

.border {
    max-width: 800px;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: purple;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
